# Logs
logs
*.log
npm-debug.log*

# Report
allure-report/
allure-results/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm


# dotenv environment variables file
.env

# lerna changelog cachedir
.changelog

**/build
allure-reporter.d.ts
devtools.d.ts
!babel.config.js
!.eslintrc.js
packages/**/package-lock.json
.DS_Store


# Editor files
.idea
.vscode
!.vscode/extensions.json
